[build.processing]
  skip_processing = false
[build.processing.css]
  minify = true
  bundle = true
[build.processing.js]
  bundle = true
  minify = true
[build.processing.html]
  pretty_urls = true
[build.processing.images]
  compress = true
[build.environment]
  CI = "1"
  NODE_VERSION = "14.17.6"