@font-face {
  font-family: 'icomoon';
  src: url('../fonts/icomoon.eot?i7knd5');
  src: url('../fonts/icomoon.eot?i7knd5#iefix') format('embedded-opentype'),
    url('../fonts/icomoon.ttf?i7knd5') format('truetype'),
    url('../fonts/icomoon.woff?i7knd5') format('woff'),
    url('../fonts/icomoon.svg?i7knd5#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^='icon-'],
[class*=' icon-'] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-odysee:before {
  content: '\e900';
}
.icon-search:before {
  content: '\e986';
}
.icon-youtube:before {
  content: '\ea9d';
}
.icon-github:before {
  content: '\eab0';
}
.icon-paypal:before {
  content: '\ead8';
}
