/* Main font on website */
body {
  font-family: 'Oxygen', sans-serif;
  color: #2f495e; /* NuxtJS color scheme */
  touch-action: manipulation; /* This will disable double-tap zoom on mobile devices */
}

/* Set monospace font for both <pre> and <code> */
pre,
code {
  font-family: 'Oxygen Mono', monospace;
  background-color: #2f495e; /* NuxtJS color scheme */
  color: #ffffff;
  font-size: 14px;
}

/* Font on unix commands */
pre {
  margin: unset;
  padding: 1rem;
  border-radius: 6px;
}

/* Font on <code> tags */
code {
  padding: 0.125rem 0.25rem;
  border-radius: 6px;
}

/* apply consistent color theme on anchor text  */
a,
a:hover {
  color: #00c58e; /* NuxtJS color scheme */
}

/* This snippet of code here fixes the stupid iframe issue */
embed,
iframe,
video {
  height: 28vh;
  max-width: 100%;
  border-radius: 6px;
}

/* add box shadow on YouTube videos */
.youtube-embed iframe {
  box-shadow: 0px 2px 18px 0px rgba(0, 0, 0, 0.3);
}

/* specify what type of page transitions should be on the PWA */
.page-enter-active,
.page-leave-active {
  transition: opacity 0.13s;
}

.page-enter,
.page-leave-to {
  opacity: 0;
}
